<div>
    <div class="jumbotron">
    <div class="card mb-3">
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
        {{#each otherPhoto}}
          <div class="carousel-item {{#unless @index}} active {{/unless}}">
            <img class="d-block w-100" src="{{this}}" alt="First slide">
          </div>
        {{/each}}

        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>  
      <hr class="my-4">


        <div class="card-body">
      <h5 class="card-title display-4"></h5>{{name}}</h5>
          <p class="card-text lead">Ref No: <input id='Ref' value="{{list_id}} " type="text" readonly/><i class="far fa-copy" id='copy'></i></p>
          <p class="card-text lead">Category:<strong style='text-transform:capitalize'>{{categ}}</strong></p>
          <p class="card-text lead">Date of birth: {{dob}}</p>
          <p class="card-text lead">Age: {{age}}</p>
          <p class="card-text lead">Gender: {{sex}}</p>
          <p class="card-text lead">Blood group:{{bloodgrp}}</p>
          <p class="card-text lead">Height: {{height}}</p>
          <p class="card-text lead">Weight: {{weight}}</p>
          <p class="card-text lead">Qualification: {{qualification}}</p>
          <p class="card-text lead">Extra qualification: {{techqualification}}</p>
          <p class="card-text lead">Phone Number: {{phno}}</p>
          <p class="card-text lead">Email: {{email}}</p>
          <p class="card-text lead">Aadhar: {{aadhar}}</p>
          <p class="card-text lead">Address: {{address}}</p>
          <p class="card-text lead">Youtube Link:  {{utubelink}}</p>
          <p class="card-text lead">District: <span style='text-transform:capitalize'>{{city}}</span></p>
          <p class="card-text lead">ZIP: {{zip}}</p>
          <br>
          <p class="card-text lead">PAYMENT STATUS:{{#if IsPayed}}<span style="color: green;">PAID</span> {{else}}<span style="color: red;"> NOT PAID <form method="post" id='pay'action='/Admin/ctc/users/spaid?i={{list_id}}'><input type="submit" value='SET PAID'></form></span>{{/if}}</p>
          <p class="card-text lead">ACCOUNT STATUS {{#if active}}<span style="color: green;">ACTIVE</span> {{else}}<span style="color:red;"> NOT ACTIVE </span>{{/if}}</p>
          <br>
            {{#if payment}}
                <h1>PAYMENT HISTORY</h1>
                  {{#each item}}    
                    <p class="pay">PAYMENT ID: {{payment_id}}</p>
                    <p class="pay">PAYMENT REQUEST ID: {{payment_request_id}}</p>
                    <p class="pay">PAYMENT DATE: {{date}}</p>
                   {{/each}}
            {{/if}}
        </div>
    {{#if video}}
        <center>
         <div class="card-body">
           
            <video width="1000" controls>
            <source src='{{video}}' type="video/mp4">
            <source src='{{video}}' type="video/org">
            Your browser does not support HTML video.
            </video>
        </div>
        </center>
    {{/if}}
      </div>
      </div>

</div>
    
</div>
<script src='/st/f/j/ad.js'