<!--<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}

.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 10.5vh;
  bottom: 0;
  height: inherit;
}
#Districts{
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.hii{
    padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
}
div.gallery {

  margin: 5px;
  border: 1px solid #ccc;
  width: 180px;
  display: inline-block;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
  padding-top: 10px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  font: 16px Arial; 

  background-size: cover;
  background-position: center;

}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
  padding-top: 16px;
}

input {
  border: 1px solid transparent;
  background-color: #fff;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #fff;
  width: 100%;
}

input[type=submit] {
  background-color: blue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
.cap{
  text-transform: capitalize;
}
a:hover{
  text-decoration: none;
}
.containeer{
  display: flex;
  flex-direction: row;
}
.card{
  margin-left:1.2vw;
}
.main_{
  display: flex;
  flex-direction: row;
}
.full-footer{
  margin-left:250px;
  background-color: #243c4f;
  
}
.top-footer p{
  color: white;
}
.top-footer a{
  color: white;
  font-weight: 600;
}
.top-footer{
  color: white;
}
.bottom-footer{
  background-color: #031b2e;
}
.bottom-footer p{
  color: white;
}
.row{
  width:100%;
}
.w3-row,.w3-main,.w3-twothird,.w3-container{
  width: 100%;
  margin-top:2vh;
}
.district{
  margin-top: 0vh
}
.w3-top{
  position: sticky;
  top:0;
}
.se{
  background-color:darkgray;
  color: black;
}
.citems{
text-transform:capitalize;
}
</style>

<div class="w3-top district">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1 district" href="javascript:void(0)"><i class="fa fa-bars"></i> </a> </li>

      <label class="hii">District</label>
    <select name="districts" id="Districts">
    	<option value="All">All</option>
    	<option value="Ariyalur">Ariyalur</option>
    	<option value="Chengalpattu">Chengalpattu</option>
    	<option value="Chennai">Chennai</option>
    	<option value="Coimbatore">Coimbatore</option>
    	<option value="Cuddalore">Cuddalore</option>
    	<option value="Dharmapuri">Dharmapuri</option>
    	<option value="Dindigul">Dindigul</option>
    	<option value="Erode">Erode</option>
    	<option value="Kallakurichi">Kallakurichi</option>
    	<option value="Kanchipuram">Kanchipuram</option>
    	<option value="Kanyakumari">Kanyakumari</option>
    	<option value="Karur">Karur</option>
    	<option value="Krishnagiri">Krishnagiri</option>
    	<option value="Madurai">Madurai</option>
    	<option value="Nagapattinam">Nagapattinam</option>
    	<option value="Namakkal">Namakkal</option>
    	<option value="Nilgiris">Nilgiris</option>
    	<option value="Perambalur">Perambalur</option>
    	<option value="Pudukottai">Pudukottai</option>
    	<option value="Ramanathapuram">Ramanathapuram</option>
    	<option value="Ranipet">Ranipet</option>
    	<option value="Salem">Salem</option>
    	<option value="Sivagangai">Sivagangai</option>
    	<option value="Tenkasi">Tenkasi</option>
    	<option value="Thanjavur">Thanjavur</option>
    	<option value="Theni">Theni</option>
    	<option value="Thoothukudi">Thoothukudi</option>
    	<option value="Tiruchirapalli">Tiruchirapalli</option>
    	<option value="Tirunelveli">Tirunelveli</option>
    	<option value="Tirupathur">Tirupathur</option>
    	<option value="Tiruppur">Tiruppur</option>
    	<option value="Tiruvallur">Tiruvallur</option>
    	<option value="Tiruvannamalai">Tiruvannamalai</option>
    	<option value="Tiruvarur">Tiruvarur</option>
    	<option value="Vellore">Vellore</option>
    	<option value="Villupuram">Villupuram</option>
    	<option value="Virudhunagar">Virudhunagar</option>
	<option value="Thiruvananthapuram">Thiruvananthapuram</option>
        <option value="Kollam">Kollam</option>
        <option value="Alappuzha">Alappuzha</option>
        <option value="Pathanamthitta">Pathanamthitta</option>
        <option value="Kottayam">Kottayam</option>
        <option value="Idukki">Idukki</option>
        <option value="Ernakulam">Ernakulam</option>
        <option value="Thrissur">Thrissur</option>
        <option value="Palakkad">Palakkad</option>
        <option value="Malappuram">Malappuram</option>
        <option value="Kozhikode">Kozhikode</option>
        <option value="Wayanad">Wayanad</option>
        <option value="Kannur">Kannur</option>
        <option value="Kasaragod">Kasaragod</option>

    </select>
  </div>
</div>

</div>

<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5" id="mySidebar" style='margin-top:2.5vh'>
  <a  id ="w3-right"class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
   </a> </li>
  <h4 class="w3-bar-item"><b>Category available</b></h4>
  <a class="w3-bar-item citems w3-button w3-hover-black">All </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Director </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Character artist </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Female artist </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Male artist </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Transgender artist </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Male model </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Female model </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Choreographer </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Costume designer </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Make-up artist </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Production manager </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Story board artist </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Stunt director </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Art director </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Cinematographers </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Editor </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Music director </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Photographer </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Poster designer </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Sound engineer </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">VFX </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Dubbing artist </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">RJ </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Singer </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Voice-over artist </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Dialouge writer </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Lyric writer </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Screenplay writer </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Subtitle writer </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Vendor </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">PRO's </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Producer </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">VJ </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Story board </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Foley </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Dolly </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">DI </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Sync sound </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Assistant director </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Child artist </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Associate director </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Assistant art director </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Assistant cinematographer </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Assistant costume designers </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Movie reviewer </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Guest </a> </li>
  <a class="w3-bar-item citems w3-button w3-hover-black">Movie promoter </a> </li>

</nav>

<div class="w3-overlay w3-hide-large" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<div class="w3-main" style="margin-left:250px">
    <div class="w3-row">
      <div class="w3-twothird w3-container">

          {{#if item}}
    
      <div class = "row">
        {{#each item}}    
              <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
                <a target="_blank"href={{link}}>
                  <img class="card-img-top img" src={{profilePhoto}} alt="Profile Photo">
                 </a> </li>
                <div class="card-body">
                  <h5 class="card-title" {{name}}</h5>
        
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item">Name: <span class="cap">{{name}}</span></li>
                  <li class="list-group-item">Role: <span class="cap">{{categ}}</span></li>
                  <li class="list-group-item">City: <span class="cap">{{city}}</span> </li>
                </ul>
                <div class="card-body">
                  <a class="btn btn-primary" href={{link}}>See Profile </a> </li>
                </div> 
            </div>
      {{/each}}
    </div>
    </div>
    {{else}}
      <h1 style="text-align:center;padding:20px;color:white;background:red;">No Result Found!</h1>
    {{/if}}
    </div>
</div>
<hr class="my-2"> 

<script src="/st/f/j/category.js"></script>
</div>
</div>
<script type="text/javascript">
var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
(function(){
var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
s1.async=true;
s1.src='https://embed.tawk.to/5ffda3f9c31c9117cb6dd48d/1errch303';
s1.charset='UTF-8';
s1.setAttribute('crossorigin','*');
s0.parentNode.insertBefore(s1,s0);
})();
</script>-->
<!--End of Tawk.to Script-->

<link rel="stylesheet" href="/st/f/css/style.css">
<body>
    
  
    <div class="wrapper">
      
        <!-- Sidebar  -->
        <nav id="sidebar" class="bg-dark">
            <div class="sidebar-header">
                <h3>Categories available</h3>
            </div>

            <ul class="list-unstyled components">
                    <li><a class='li'>All </a> </li>
                    <li><a class='li'>Director </a> </li>
                    <li><a class='li'>Character artist </a> </li>
                    <li><a class='li'>Female artist </a> </li>
                    <li><a class='li'>Male artist </a> </li> 
                    <li><a class='li'>Transgender artist </a> </li>
                    <li><a class='li'>Male model </a> </li>                
                    <li><a class='li'>Female model </a> </li>
                    <li><a class='li'>Choreographer </a> </li>                       
                    <li><a class='li'>Costume desginer </a> </li>
                    <li><a class='li'>Make-up artist </a> </li>                          
                    <li><a class='li'>Production manager </a> </li>
                    <li><a class='li'>Story board artist </a> </li>
                    <li><a class='li'>Stunt director </a> </li>
                    <li><a class='li'>Art director </a> </li>
                    <li><a class='li'>Cinematographers </a> </li>
                    <li><a class='li'>Editor </a> </li>
                    <li><a class='li'>Music director </a> </li>
                    <li><a class='li'>Photographer </a> </li>
                    <li><a class='li'>Poster designer </a> </li>
                    <li><a class='li'>Sound engineer </a> </li>
                    <li><a class='li'>VFX </a> </li>
                    <li><a class='li'>Dubbing artist </a> </li>
                    <li><a class='li'>RJ </a> </li>
                    <li><a class='li'>Singer </a> </li>
                    <li><a class='li'>Voice-over artist </a> </li>
                    <li><a class='li'>Dialouge writer </a> </li>
                    <li><a class='li'>Lyric writer </a> </li>
                    <li><a class='li'>Screenplay writer </a> </li>
                    <li><a class='li'>Subtitle writer </a> </li>
                    <li><a class='li'>Vendor </a> </li>
                    <li><a class='li'>PRO's </a> </li>
                    <li><a class='li'>Producer </a> </li>
                    <li><a class='li'>VJ </a> </li>
                    <li><a class='li'>Story board </a> </li>
                    <li><a class='li'>Foley </a> </li>
                    <li><a class='li'>Dolly </a> </li>
                    <li><a class='li'>DI </a> </li>
                    <li><a class='li'>Sync sound </a> </li>
                    <li><a class='li'>Assistant director </a> </li>
                    <li><a class='li'>Child artist </a> </li>
                    <li><a class='li'>Associate director </a> </li>
                    <li><a class='li'>Assistant art director </a> </li>
                    <li><a class='li'>Assistant cinematographer </a> </li>
                    <li><a class='li'>Assistant costume designer </a> </li>
                    <li><a class='li'>Movie reviewer </a> </li>
                    <li><a class='li'>Guest </a> </li>
                    <li><a class='li'>Movie promoter </a> </li>
            </ul>


        </nav>
        

        <!-- Page Content  -->
        <div id="content">

             <!-- Header -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">

           
                    <button type="button" id="sidebarCollapse" class="btn btn-info">
                        <i class="fas fa-align-left"></i>
                        <span>Category Sidebar</span>
                    </button>
            <div class="district btn btn-info">
              <label class="hii">District</label>
                <select name="districts" id="Districts">
                <option value="All">All</option>
                <option value="Ariyalur">Ariyalur</option>
                <option value="Chengalpattu">Chengalpattu</option>
                <option value="Chennai">Chennai</option>
                <option value="Coimbatore">Coimbatore</option>
                <option value="Cuddalore">Cuddalore</option>
                <option value="Dharmapuri">Dharmapuri</option>
                <option value="Dindigul">Dindigul</option>
                <option value="Erode">Erode</option>
                <option value="Kallakurichi">Kallakurichi</option>
                <option value="Kanchipuram">Kanchipuram</option>
                <option value="Kanyakumari">Kanyakumari</option>
                <option value="Karur">Karur</option>
                <option value="Krishnagiri">Krishnagiri</option>
                <option value="Madurai">Madurai</option>
                <option value="Nagapattinam">Nagapattinam</option>
                <option value="Namakkal">Namakkal</option>
                <option value="Nilgiris">Nilgiris</option>
                <option value="Perambalur">Perambalur</option>
                <option value="Pudukottai">Pudukottai</option>
                <option value="Ramanathapuram">Ramanathapuram</option>
                <option value="Ranipet">Ranipet</option>
                <option value="Salem">Salem</option>
                <option value="Sivagangai">Sivagangai</option>
                <option value="Tenkasi">Tenkasi</option>
                <option value="Thanjavur">Thanjavur</option>
                <option value="Theni">Theni</option>
                <option value="Thoothukudi">Thoothukudi</option>
                <option value="Tiruchirapalli">Tiruchirapalli</option>
                <option value="Tirunelveli">Tirunelveli</option>
                <option value="Tirupathur">Tirupathur</option>
                <option value="Tiruppur">Tiruppur</option>
                <option value="Tiruvallur">Tiruvallur</option>
                <option value="Tiruvannamalai">Tiruvannamalai</option>
                <option value="Tiruvarur">Tiruvarur</option>
                <option value="Vellore">Vellore</option>
                <option value="Villupuram">Villupuram</option>
                <option value="Virudhunagar">Virudhunagar</option>
                <option value="Thiruvananthapuram">Thiruvananthapuram</option>
                <option value="Kollam">Kollam</option>
                <option value="Alappuzha">Alappuzha</option>
                <option value="Pathanamthitta">Pathanamthitta</option>
                <option value="Kottayam">Kottayam</option>
                <option value="Idukki">Idukki</option>
                <option value="Ernakulam">Ernakulam</option>
                <option value="Thrissur">Thrissur</option>
                <option value="Palakkad">Palakkad</option>
                <option value="Malappuram">Malappuram</option>
                <option value="Kozhikode">Kozhikode</option>
                <option value="Wayanad">Wayanad</option>
                <option value="Kannur">Kannur</option>
                <option value="Kasaragod">Kasaragod</option>
          
              </select>
            </div>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#myNavBar"
                aria-controls="myNavBar" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="myNavBar">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item ">
                        <a href="/" class="nav-link">Home </a> </li>
                                      <li class="nav-item">
                       <a href="/about" class="nav-link">About </a> </li>
                
                    <li class="nav-item">
                      <a href="/whyctc" class="nav-link">Why CTC? </a> </li>
              
                   <li class="nav-item active">
                        <a href="/artists" class="nav-link">MainPage </a> </li>
                
                  <!--<li class="nav-item">
                        <a href="/renew" class="nav-link">Renewal </a> 
                    </li>-->
                         <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Help
                            </a>
                            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                <a class="dropdown-item" href="https://www.facebook.com/search/top?q=cinema%20thalam%20creations">Facebook</a>
                                <a class="dropdown-item" href="https://www.instagram.com/cinema_thalam_creations/">Instagram</a>
                                <div class="dropdown-divider"></div>
                                <a class="dropdown-item" href="https://www.youtube.com/results?search_query=cinema+thalam+creations">Youtube</a>
                            </div>
                        </li>
                    <li class="nav-item">
                        <a href="/contact" class="nav-link">Contact </a> 
                        </li>
                   

                </ul>
                    

            </div>
    </nav>
<!-- End Header -->


 
            <div class="container">
              <center>
                <div class="row" id='row'>
                  <!--<div class="col-sm">
                    <div class="card" style="width: 17rem;">
                        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h6 class="card-title">    Name: Sriram</h6>
                          <hr>
                          <h6 class="card-title">Category: Male artist</h6>
                          <hr>
                          <h6 class="card-title">District: Madurai</h6>
                          <hr>
                          <a href="#" class="btn btn-success">View Profile </a> </li>
                        </div>
                      </div>
                  </div>
                  <div class="col-sm">
                    <div class="card" style="width: 17rem;">
                        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h6 class="card-title">    Name: Sriram</h6>
                          <hr>
                          <h6 class="card-title">Category: Male artist</h6>
                          <hr>
                          <h6 class="card-title">District: Madurai</h6>
                          <hr>
                          <a href="#" class="btn btn-success">View Profile </a> </li>
                        </div>
                      </div>
                  </div>

                  <div class="col-sm">
                    <div class="card" style="width: 17rem;">
                        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h6 class="card-title">    Name: Sriram</h6>
                          <hr>
                          <h6 class="card-title">Category: Male artist</h6>
                          <hr>
                          <h6 class="card-title">District: Madurai</h6>
                          <hr>
                          <a href="#" class="btn btn-success">View Profile </a> </li>
                        </div>
                      </div>
                    </div>
                </div>
                <hr class="my-2">
               <div class="row">
                  <div class="col-sm">
                    <div class="card" style="width: 17rem;">
                        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere </a> </li>
                        </div>
                      </div>
                  </div>
  
                  <div class="col-sm">
                    <div class="card" style="width: 17rem;">
                        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere </a> </li>
                        </div>
                      </div>
                  </div>
     
                  <div class="col-sm">
                    <div class="card" style="width: 17rem;">
                        <img class="card-img-top" src="https://cdn.pixabay.com/photo/2015/04/23/22/00/tree-736885__340.jpg" alt="Card image cap">
                        <div class="card-body">
                          <h5 class="card-title">Card title</h5>
                          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
                          <a href="#" class="btn btn-primary">Go somewhere </a> </li>
                        </div>
                      </div>
                  </div>
    
                </div>-->
              </div>
              </div>
              </div>
            </center>
        </div>

    <!-- jQuery CDN - Slim version (hout AJAX) -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <!-- Popper.JS -->
<script src="https://cdn.jsdelivr.net/npm/handlebars@latest/dist/handlebars.js"></script>    
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
    <script src="/st/f/j/category.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {
            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });
        });
    </script>
</body>