<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://www.w3schools.com/lib/w3-theme-black.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">
<style>
html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}

.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 10.5vh;
  bottom: 0;
  height: inherit;
}
#Districts{
	padding-top: 5px;
	padding-right: 10px;
	padding-bottom: 5px;
	padding-left: 5px;
}
.hii{
    padding-top: 5px;
	padding-right: 5px;
	padding-bottom: 5px;
	padding-left: 30px;
}
div.gallery {

  margin: 5px;
  border: 1px solid #ccc;
  width: 180px;
  display: inline-block;
}

div.gallery:hover {
  border: 1px solid #777;
}

div.gallery img {
  width: 100%;
  height: auto;
  padding-top: 10px;
}

div.desc {
  padding: 15px;
  text-align: center;
}

* {
  box-sizing: border-box;
}

body {
  font: 16px Arial; 

  background-size: cover;
  background-position: center;

}

/*the container must be positioned relative:*/
.autocomplete {
  position: relative;
  display: inline-block;
  padding-top: 16px;
}

input {
  border: 1px solid transparent;
  background-color: #fff;
  padding: 10px;
  font-size: 16px;
}

input[type=text] {
  background-color: #fff;
  width: 100%;
}

input[type=submit] {
  background-color: blue;
  color: #fff;
  cursor: pointer;
}

.autocomplete-items {
  position: absolute;
  border: 1px solid #d4d4d4;
  border-bottom: none;
  border-top: none;
  z-index: 99;
  /*position the autocomplete items to be the same width as the container:*/
  top: 100%;
  left: 0;
  right: 0;
}

.autocomplete-items div {
  padding: 10px;
  cursor: pointer;
  background-color: #fff; 
  border-bottom: 1px solid #d4d4d4; 
}

/*when hovering an item:*/
.autocomplete-items div:hover {
  background-color: #e9e9e9; 
}

/*when navigating through the items using the arrow keys:*/
.autocomplete-active {
  background-color: DodgerBlue !important; 
  color: #ffffff; 
}
.cap{
  text-transform: capitalize;
}
a:hover{
  text-decoration: none;
}
.containeer{
  display: flex;
  flex-direction: row;
}
.card{
  margin-left:1.2vw;
}
.main_{
  display: flex;
  flex-direction: row;
}
.full-footer{
  margin-left:250px;
  background-color: #243c4f;
  
}
.top-footer p{
  color: white;
}
.top-footer a{
  color: white;
  font-weight: 600;
}
.top-footer{
  color: white;
}
.bottom-footer{
  background-color: #031b2e;
}
.bottom-footer p{
  color: white;
}
.row{
  width:100%;
}
.w3-row,.w3-main,.w3-twothird,.w3-container{
  width: 100%;
  margin-top:2vh;
}
.district{
  margin-top: 0vh
}
.w3-top{
  position: sticky;
  top:0;
}
.se{
  background-color:darkgray;
  color: black;
}
.citems{
text-transform:capitalize;
}
</style>

<div class="w3-top district">
  <div class="w3-bar w3-theme w3-top w3-left-align w3-large">
    <a class="w3-bar-item w3-button w3-right w3-hide-large w3-hover-white w3-large w3-theme-l1 district" href="javascript:void(0)"><i class="fa fa-bars"></i></a>

      <label class="hii">District</label>
    <select name="districts" id="Districts">
    	<option value="All">All</option>
    	<option value="Ariyalur">Ariyalur</option>
    	<option value="Chengalpattu">Chengalpattu</option>
    	<option value="Chennai">Chennai</option>
    	<option value="Coimbatore">Coimbatore</option>
    	<option value="Cuddalore">Cuddalore</option>
    	<option value="Dharmapuri">Dharmapuri</option>
    	<option value="Dindigul">Dindigul</option>
    	<option value="Erode">Erode</option>
    	<option value="Kallakurichi">Kallakurichi</option>
    	<option value="Kanchipuram">Kanchipuram</option>
    	<option value="Kanyakumari">Kanyakumari</option>
    	<option value="Karur">Karur</option>
    	<option value="Krishnagiri">Krishnagiri</option>
    	<option value="Madurai">Madurai</option>
    	<option value="Nagapattinam">Nagapattinam</option>
    	<option value="Namakkal">Namakkal</option>
    	<option value="Nilgiris">Nilgiris</option>
    	<option value="Perambalur">Perambalur</option>
    	<option value="Pudukottai">Pudukottai</option>
    	<option value="Ramanathapuram">Ramanathapuram</option>
    	<option value="Ranipet">Ranipet</option>
    	<option value="Salem">Salem</option>
    	<option value="Sivagangai">Sivagangai</option>
    	<option value="Tenkasi">Tenkasi</option>
    	<option value="Thanjavur">Thanjavur</option>
    	<option value="Theni">Theni</option>
    	<option value="Thoothukudi">Thoothukudi</option>
    	<option value="Tiruchirapalli">Tiruchirapalli</option>
    	<option value="Tirunelveli">Tirunelveli</option>
    	<option value="Tirupathur">Tirupathur</option>
    	<option value="Tiruppur">Tiruppur</option>
    	<option value="Tiruvallur">Tiruvallur</option>
    	<option value="Tiruvannamalai">Tiruvannamalai</option>
    	<option value="Tiruvarur">Tiruvarur</option>
    	<option value="Vellore">Vellore</option>
    	<option value="Villupuram">Villupuram</option>
    	<option value="Virudhunagar">Virudhunagar</option>
	<option value="Thiruvananthapuram">Thiruvananthapuram</option>
        <option value="Kollam">Kollam</option>
        <option value="Alappuzha">Alappuzha</option>
        <option value="Pathanamthitta">Pathanamthitta</option>
        <option value="Kottayam">Kottayam</option>
        <option value="Idukki">Idukki</option>
        <option value="Ernakulam">Ernakulam</option>
        <option value="Thrissur">Thrissur</option>
        <option value="Palakkad">Palakkad</option>
        <option value="Malappuram">Malappuram</option>
        <option value="Kozhikode">Kozhikode</option>
        <option value="Wayanad">Wayanad</option>
        <option value="Kannur">Kannur</option>
        <option value="Kasaragod">Kasaragod</option>

    </select>
  </div>
</div>

</div>


<!-- Sidebar -->
<nav class="w3-sidebar w3-bar-block w3-collapse w3-large w3-theme-l5" id="mySidebar" style='margin-top:2.5vh'>
  <a  id ="w3-right"class="w3-right w3-xlarge w3-padding-large w3-hover-black w3-hide-large" title="Close Menu">
    <i class="fa fa-remove"></i>
  </a>
  <h4 class="w3-bar-item"><b>Category available</b></h4>
  <a class="w3-bar-item citems w3-button w3-hover-black">All</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Director</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Character artist</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Female artist</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Transgender artist</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Male model</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Female model</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Choreographer</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Costume designer</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Makeup artist</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Production manager</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Story board artist</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Stunt director</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Art director</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Cinematographers</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Editors</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Music director</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Photographer</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Sound engineers</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">VFX</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Dubbing artist</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">RJ</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Singer</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Voice over artist</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Dialouge writers</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Lyric writers</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Screenplay writers</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Subtitle writers</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Vendor</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">PRO's</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Producer</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">VJ</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Story board</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Foley</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Dolly</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">DI</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Sync sound</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Assistant director</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Child artist</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Associate director</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Assistant art director</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Assistant cinematographers</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Assistant costume designers</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Movie reviewers</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Guest</a>
  <a class="w3-bar-item citems w3-button w3-hover-black">Movie promoters</a>

</nav>

<!-- Overlay effect when opening sidebar on small screens -->
<div class="w3-overlay w3-hide-large" style="cursor:pointer" title="close side menu" id="myOverlay"></div>

<!-- Main content: shift it to the right by 250 pixels when the sidebar is visible -->
<div class="w3-main" style="margin-left:250px">
    <div class="w3-row">
      <div class="w3-twothird w3-container">

          {{#if item}}
    
      <div class = "row">
        {{#each item}}    
              <div class="card shadow p-3 mb-5 bg-white rounded" style="width: 18rem;">
                <a target="_blank"href={{link}}>
                  <img class="card-img-top img" src={{profilePhoto}} alt="Profile Photo">
                </a>
                <div class="card-body">
                  <h5 class="card-title" {{name}}</h5>
        
                </div>
                <ul class="list-group list-group-flush">
                  <li class="list-group-item" style="font-family: Arial, Helvetica, sans-serif;font-size:medium;">Ref <span style="font-family: Arial, Helvetica, sans-serif;font-size:medium;">{{list_id}}</span></li>
                  <li class="list-group-item">Role: <span class="cap">{{categ}}</span></li>
                  <li class="list-group-item">City: <span class="cap">{{city}}</span> </li>
                </ul>
                <div class="card-body">
                  <a class="btn btn-primary" href={{link}}>See Profile</a>
                </div> 
            </div>
      {{/each}}
    </div>
    </div>
    {{else}}
      <h1 style="text-align:center;padding:20px;color:white;background:red;">No Result Found!</h1>
    {{/if}}
    </div>
</div>
<hr class="my-2"> 

<!-- END MAIN -->
<script src="/st/f/j/category.js"></script>
</div>
</div>
