<style>
  .full-footer{
  background-color: #243c4f;
  
}
.top-footer p{
  color: white;
}
.top-footer a{
  color: white;
  font-weight: 600;
}
.top-footer{
  color: white;
}
.bottom-footer{
  background-color: #031b2e;
}
.bottom-footer p{
  color: white;
}
</style>

<!--content
<div class="jumbotron">
    <div class="card mb-3">
      <center>
        <p class="lead">For More Details Contact/WhatsApp                  
          <p class="lead"><a href="tel:+919629203228"><i class="fas fa-phone"></i> +(91) 9629203228 </a><br> </p>         
          <p class="lead"><a href="tel:+919629203229"><i class="fas fa-phone"></i> +(91) 9629203229 </a><br></p>
          <p class="lead"><a href="tel:+919677085058"><i class="fas fa-phone"></i> +(91) 9677085058 </a><br></p>
        </p>
      </center>
      <div id="carouselExampleControls" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
        {{#each otherPhoto}}
          <div class="carousel-item {{#unless @index}} active {{/unless}}">
            <img class="d-block w-100" src="{{this}}" alt="First slide">
          </div>
        {{/each}}

        </div>
        <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>  
      <hr class="my-4">


        <div class="card-body">
          <h5 class="card-title display-4">{{name}}</h5>
          <p class="card-text lead">Ref No: <input id='Ref' value="{{list_id}}" type="text" readonly/><i class="far fa-copy" id='copy'></i></p>
          <p class="card-text lead">Category:<strong style='text-transform:capitalize'>{{categ}}</strong></p>
          <p class="card-text lead">Date of birth: {{dob}}</p>
          <p class="card-text lead">Age: {{age}}</p>
          <p class="card-text lead">Gender: {{sex}}</p>
          <p class="card-text lead">Blood group:{{bloodgrp}}</p>
          <p class="card-text lead">Height: {{height}}</p>
          <p class="card-text lead">Weight: {{weight}}</p>
          <p class="card-text lead">Qualification: {{qualification}}</p>
          <p class="card-text lead">Extra qualification: {{techqualification}}</p>
          <p class="card-text lead">District: <span style='text-transform:capitalize'>{{city}}</span></p>
         {{#if utubelink}} <p class="card-text lead">My Yotube Channel: <a style='text-transform:capitalize' href="{{utubelink}}">{{utubelink}}</a></p>{{/if}}
        </div>
        {{#if video}}
         <div class="carousel-item">
            <video controls>
              <source src='{{video}}' type="video/mp4">
              <source src='{{video}}' type="video/org">
              Your browser does not support HTML video.
            </video>
        </div>
      {{/if}}
      </div>
      </div>

</div>

end content-->
<div class="jumbotron">
        <div class="container">
        <center>
        <p class="lead" style='text-transform:uppercase;'>For More Details Contact                     
          <p class="lead"><a href="tel:+919629203228"><i class="fas fa-phone"></i> +(91) 9629203228 </a><br> </p>         
          <p class="lead"><a href="tel:+919629203229"><i class="fas fa-phone"></i> +(91) 9629203229 </a><br></p>
          <p class="lead"><a href="tel:+919677085058"><i class="fas fa-phone"></i> +(91) 9677085058 </a><br></p>
        </p>
      </center>
            <div class="row">
              <div class="col-md-6">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                      {{#each otherPhoto}}
                        <li data-target="#carouselExampleIndicators" data-slide-to={{@index}}></li>
                      {{/each}}
                    </ol>
                    <div class="carousel-inner">
                        {{#each otherPhoto}}
                          <div class="carousel-item {{#unless @index}}active{{/unless}}">
                            <img class="d-block w-100" src="{{this}}" alt="First slide">
                          </div>
                        {{/each}}
                        {{#if video}}
                         <div class="carousel-item">
                            <video controls>
                              <source src='{{video}}' type="video/mp4">
                              <source src='{{video}}' type="video/org">
                              Your browser does not support HTML video.
                            </video>
                          </div>
                        {{/if}}
                     
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                      <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                      <span class="carousel-control-next-icon" aria-hidden="true"></span>
                      <span class="sr-only">Next</span>
                    </a>
                  </div>
              </div>
              <div class="col">
            <h3 class="display-4" style="text-transform:capitalize;">{{name}}</h3> 
            <p class="card-text lead" style="text-transform:uppercase;"><strong>Ref No:</strong> <input id='Ref' value="{{list_id}}" type="text" style="width:250px;" readonly/><i class="far fa-copy card-text lead" style="margin-left:10px;" id='copy'></i></p>
            <p class="card-text lead" style="text-transform:uppercase;">Category: <strong >{{categ}}</strong></p>
            <p class="card-text lead" style="text-transform:uppercase;">Date of birth: {{dob}}</p>
            <p class="card-text lead" style="text-transform:uppercase;">Age: {{age}}</p>
            <p class="card-text lead" style="text-transform:uppercase;">Gender: {{sex}}</p>
            <p class="card-text lead" style="text-transform:uppercase;">Blood group:{{bloodgrp}}</p>
            <p class="card-text lead" style="text-transform:uppercase;">Height: {{height}}</p>
            <p class="card-text lead" style="text-transform:uppercase;">Weight: {{weight}}</p>
            <p class="card-text lead" style="text-transform:uppercase;">Qualification: {{qualification}}</p>
            <p class="card-text lead" style="text-transform:uppercase;">Extra qualification: {{techqualification}}</p>
            <p class="card-text lead" style="text-transform:uppercase;">District: <span >{{city}}</span></p>
            {{#if utubelink}} <p class="card-text lead" style="text-transform:uppercase;">My Yotube Channel: <a style='text-transform:lowercase' href="{{utubelink}}">{{utubelink}}</a></p>{{/if}}
              </div>
            </div><BR><BR>
                 <center>
        <p class="lead" style='text-transform:uppercase;'>For More Details Contact/WhatsApp                       
          <p class="lead"><a href="tel:+919629203228"><i class="fas fa-phone"></i> +(91) 9629203228 </a><br> </p>         
          <p class="lead"><a href="tel:+919629203229"><i class="fas fa-phone"></i> +(91) 9629203229 </a><br></p>
          <p class="lead"><a href="tel:+919677085058"><i class="fas fa-phone"></i> +(91) 9677085058 </a><br></p>
        </p>
      </center>
            </div>
        </div>
<script src='/st/f/j/details.js'>

</script>
